{% extends 'base.html.twig' %}
{% block title %}Discussion
{% endblock %}
{% block body %}
    <h1>Conversation</h1>

    <div class="conversation">
        {% for message in conversation.getMessages() %}
            <div class="message">
                <div class="author">{{ message.getAuthor().getUsername() }}</div>
                <div class="content">{{ message.getContent() }}</div>
                <div class="timestamp">{{ message.getCreatedAt()|date('d/m/Y H:i') }}</div>
            </div>
        {% endfor %}
    </div>

    <form action="{{ path('send_message', { 'conversationId': conversation.id, 'profilId': profilId }) }}" method="post">
        <textarea name="message" placeholder="Type your message"></textarea>
        <button type="submit">Send</button>
    </form>
{% endblock %}
