{% extends 'base.html.twig' %}
{# {% form_theme formCreationProfil 'bootstrap_4_layout.html.twig'%} #}

{% block title %}Ajout d'image
{% endblock %}

{% block body %}
    <h1>Ajout d'image</h1>
    {{form(formCreationPhoto )}}

{% endblock %}