<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('Images/logoNavbar.png') }}" style="width: 10rem; height: auto;" role="img" alt="Odessa" loading="lazy"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/mes-voyages">MES VOYAGES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/mes-matchs">MES MATCHS </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/aide">AIDE</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-success" type="submit" onclick="window.location.href ='login';">REJOINS L'AVENTURE</button>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Recherche un voyage" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit" >Rechercher</button>
                    </form>
                </div>
            </div>
        </nav>

